*node_modules*
firmware/bin/obj
firmware/bin/*.*
!firmware/bin/waterworx.hex
firmwarev2/bin/obj
firmwarev2/bin/*.*
!firmwarev2/bin/waterworx.hex
*.mcw
*.mcs
*.swp
hardware/UBW32_v26
hardware/schematic/*.s#*
hardware/schematic/*.b#*
hardware/schematic/*.dri
hardware/schematic/*.gpi
hardware/schematic/*.pro
hardware/lbr/*.l#*
hardware/datasheets
