*node_modules*
firmware/bin/obj
firmware/bin/*.*
!firmware/bin/waterworx.hex
firmwarev2/bin/obj
firmwarev2/bin/*.*
!firmwarev2/bin/waterworx.hex
*.mcw
*.mcs
*.swp
hardware/UBW32_v26
hardware/design/*.s#*
hardware/design/*.b#*
hardware/design/*.dri
hardware/design/*.gpi
hardware/design/*.pro
hardware/lbr/*.l#*
hardware/datasheets
